
<h3>Address Search</h3>
<% if flash[:error]%>
    <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>
    </div>
<% end %>
<%= form_with url: forecasts_path, method: :post do |form| %>
  <%= form.text_field  :address, placeholder: "Search for an Address", class: 'form-control'%>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>